@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), 
         url('Gilroy/Gilroy-ExtraBold.otf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), 
         url('Gilroy/Gilroy-Light.otf') format('truetype');
}