
.profile__container{
    width: 867px;
    height: 790px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 5px 15px var(--box-shadow-block-color), 0 5px 10px var(--box-shadow-block-color);
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container__header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}

.header__title{
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal; 
    font-size: 40px;
    line-height: 49px;
    color: var(--title-text-color);
}

.content__image{
    padding: 50px 0px 0px 76px;
    cursor: pointer;
}

.image__edit{
    display: flex;
}
.content__icon{
    padding: 15px 15px 0px 30px;
    cursor: pointer;
    transition: 0.3s all;
}

.content__icon:hover{
    filter: brightness(0.5);
}

.icon__signature{
    padding-top: 19px;
    font-family: 'Gilroy-light';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-signature_icon);
    cursor: pointer;
    transition: 0.3s all;
}
.icon__signature:hover{
    filter: brightness(0.5)
}
.container__input__box{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 30px 0px 30px;
    border: 3px solid var(--input-box-border-color);
    border-radius: 10px;
    padding: 25px 15px 10px 15px;
}

.input__box{
    width: 370px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--input-border-color);
    margin: 0px 0px 20px 0px;
    cursor: pointer;
    outline: none;

}

.input__box__signature{
    padding: 0px 0px 5px 0px;
    font-family: 'Gilroy-light';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--input-text-color);
}
::-webkit-input-placeholder{
    color:var(--placeholder-color);
    padding-left: 30px;
    font-size: 16px;
    line-height: 19px;
}
:focus::-webkit-input-placeholder{
    opacity: 0; transition: opacity 0.2s ease;
}
.input__box__first__cloumn{
     max-width: 400px;
}
.input__box__second__cloumn{
    margin-left: 30px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.input__box__signature__chek{
    margin-top: 43px;
    font-family: 'Gilroy-light';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--input-text-color);
}
.input__box__chek{
    cursor: pointer;
}
.container__button{
    margin: 30px 0px 0px 30px;
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;
    color: var(--button-color);
    background: var(--button-background-color);
    cursor: pointer;
    border-radius: 10px;
    width: 370px;
    height: 60px;
    border: none;
    transition: 0.3s all;
}

.container__button:hover{
    border: 3px solid var(--button-border-color);
    background-color: var(----button-background-hover-color);
    color: var(--button-text-color);
}